@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas1 {
  width: 800px;
  height: 500px;
  border: 1px solid black;
  background: #146314;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div {
  padding: 5px;
  margin: 2px;
  font-family: "Press Start 2P", cursive;
}

.score {
  color: #bada55;
}
